<form (ngSubmit)="onSubmit(title, request, form)" #form>
  <!-- <p>
    <label>Title</label>
    <input name="title" id="title" />
  </p>
  <p>
    <label>Request</label>
    <textarea name="request" id="request" rows="3"></textarea>
  </p> -->

  <app-control label="Title">
    <input name="title" id="title" #title/>
  </app-control>
  <app-control label="Request" >
    <textarea name="request" id="request" rows="3" #request></textarea>
  </app-control>

  <p>
    <!-- <button>
      <span> Submit </span>
      <span class="icon"> ⌲ </span>
    </button> -->
    <!-- <app-button></app-button> -->
    <button appButton>
      Submit
      <!-- <span class="icon"> ⌲ </span> -->
      <span ngProjectAs="icon"> ⌲ </span>
    </button>
  </p>
</form>
